repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy

  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black

  - repo: https://github.com/pytest-dev/pytest
    rev: v8.0.0
    hooks:
      - id: pytest
        additional_dependencies:
          - numpy>=1.26,<3.0
          - hypothesis
          - coverage
          - pytest-cov
        args: ["src", "tests", "bridge/tests"]
        stages: [manual]
